.venv/

mini_projects/mini_burp_suite/requests_log.json

__pycache__/
*.pyc
*.pyo
*.pyd

exercises/
.idea
.env
clean_database.py
debug_runner.py
debug_test.py
*.xml
package-lock.json
package.json
requests_log.json
node_modules/